<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">mytodo app</h3>
</div>

<div class="hero-unit">
	<h2>Todos List</h2>
</div>
<p>Add a new todo item:</p>
<form>
	<div class="controls form-inline">
		<input type="text"><br><br>
		<input type="button" class="btn btn-primary" value="Add" >
	</div>

</form>	
<br>

<div class="footer">
	<p>To do apps are awesome with Yeoman and Angularjs!</p>
</div>