<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">mytodo app - Built with Yeoman</h3>
</div>
<div class="hero-unit">
	<h2>Todos List</h2>
	<p ng-repeat="todo in todos">
		<input type="text" ng-model="todo">
	</p>
	<p>Add a new todo item:</p>
	<form ng-submit="addTodo()">
		<div class="controls form-inline">
			<input type="text" ng-model="todo" size="20">
			<br><br>
			<input type="submit" class="btn btn-primary" value="Add Item" >
		</div>
	</form>	
</div>


<br>
<div class="footer">
	<p>To do apps are awesome with Yeoman and Angularjs!</p>
</div>